.feature {
  overflow: hidden;
}

.visual {
  min-height: 620px;
}

.feature .visual :global(img) {
  object-fit: contain;
  object-position: 50% 52%;
  padding: clamp(44px, 6vw, 80px);
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 32%));
}

@media (max-width: 900px) {
  .feature.feature {
    display: grid;
  }

  .visual.visual {
    position: relative;
    top: auto;
    height: auto;
    min-height: 500px;
  }
}

@media (max-width: 600px) {
  .visual.visual {
    min-height: 430px;
  }

  .feature .visual :global(img) {
    padding: 36px;
  }
}
